.button-container {
    display: flex;
    align-items: center;
    padding-top:10px;
}

.accept-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.accept-button:hover {
    background-color: #45a049;
}

.reject-button {
    background-color: #ce3a3a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.reject-button:hover {
    background-color: #ab1010;
}